/* generel styling */
body{
    margin: 0;
}
p{
    color: #000;
    font-family: "Futura Bk";
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
}
h1 {
    text-align: left;
    color:  rgb(6, 6, 6);
    font-family: Junegull;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
}
h2{
    color:  rgb(0, 0, 0);
    font-family: Junegull;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
h3{
    color:  rgb(0, 0, 0);
    font-family: Junegull;
    font-size: 18px;
    line-height: 18px;
    font-weight: 200;
    font-style: normal;
    margin: 0;
}
button{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 7px 15px;
    text-align:center;
    text-decoration: none;
    font-family: Junegull;
    font-style: normal;
    font-size: 16px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.centreret-tekst{
    text-align: center;
}
.centreret-box{
    flex-direction: column;
}


/* Navigationslinie */
header{
    background-color: none; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
.nav-logo {
    height: 25px;
    aspect-ratio: 1/1;   
}    
.sommerlejrwiki {
    height: 25px;
    aspect-ratio: 1/1;  
}

/* Hero */
.hero-img {
    background-image: url("../img/solopgang_hero.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-y: bottom;  
}
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;  
    padding-bottom: 25px;
}
.hero-logo-box {
    padding-left: 20px;
    text-align: right;
}
.hero-logo {
   width: 92px;
   padding-bottom: 2px;
}
/* Footer*/
footer{
    display: flex;
    justify-content: center;
}
.e-mail{
    padding-left: 5px;
}
/* Forside */

/* Nav til kort */
.kort-familie-box {
    margin: 30px;
    display: flex; 
}
.familie-med-pin{
    height: 160.57px;
    padding-right: 10px;
 }
 .kort-knap-box {
    width: 125px;
    text-align: right;
 }
 .kort-knap-tekst{
    margin-top: 10px;
    margin-bottom: 18px;
 }
 .kort-knap {
    background-color: #06F;
 }
 .kort-knap:hover {
    background-color:#B7F9F6;
    color:rgb(0, 0, 0);
 }

/* Nav til tilføj */
.tilfoej-familie-box{
    margin: 30px;
    display: flex;
}
 .familie-med-plus{
    height: 160.57px;
    padding-left: 10px;
 }
 .tilfoej-knap-box{
    width: 125px;
    text-align: left;
 }
 .tilfoej-knap-tekst{
    margin-top: 10px;
    margin-bottom: 18px;
 }
 .tilfoej-knap {
    background-color:#FF0033;
 }
.tilfoej-knap:hover {
        background-color:#faa8a8;
        color:#000000; 
 }

/*Pladskort-side*/
.kort-baggrund-box{
    position:relative; 
    width: 100%; 
    max-width: 800px;
}
.pladskort{
    width: 100%;
}
/*popup-knappen*/
.popup{
  position:absolute;
  bottom: 46.2%; 
  right: 25.3%; 
  z-index: 2;
  display: inline-block;
  cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   background-color: none;
   padding: none;
  }
  .rød-pin{
    width: 15px;
  }
  /* Selve popup'en */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-color: #FF0033;
    border-width: 1px;
    border-radius: 15px;
    text-align: center;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .boenhed{
    padding-top: 15px;
  }
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/*Pladskort-side m pdf*/
 .iframe {
    border-width: 0px;
 }



