/* generel styling */
body{
    margin: 0;
}
p{
    color: #000;
    font-family: "Futura Bk";
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
}
h1 {
    text-align: left;
    color:  rgb(6, 6, 6);
    font-family: Junegull;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
}
h2{
    color:  rgb(0, 0, 0);
    font-family: Junegull;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
h3{
    color:  rgb(0, 0, 0);
    font-family: Junegull;
    font-size: 18px;
    line-height: 18px;
    font-weight: 200;
    font-style: normal;
    margin: 0;
}
button{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 7px 15px;
    text-align:center;
    text-decoration: none;
    font-family: Junegull;
    font-style: normal;
    font-size: 16px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* navigationslinie */
header{
    background-color: none; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
.navlogo {
    height: 25px;
    aspect-ratio: 1/1;   
}    
.sommerlejrwiki {
    height: 25px;
    aspect-ratio: 1/1;  
}

/* hero */
.hero-img {
    background-image: url("../img/solopgang_hero.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-y: bottom;  
}
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;  
    padding-bottom: 25px;
}
.hero-logo-box {
    padding-left: 20px;
    text-align: right;
}
.hero-logo {
   width: 92px;
   padding-bottom: 2px;
}

/* forside */
.main-forside {
    margin: 20px;
}
/* Nav til kort */
.kort-familie-box {
    margin: 30px;
    display: flex; 
    padding-left: 6px; 
}
.familie-med-pin{
    height: 160.57px;
    padding-right: 10px;
 }
 .kort-knap-box {
    width: 125px;
    text-align: right;
 }
 .kort-knap-tekst{
    margin-top: 10px;
    margin-bottom: 18px;
 }
 .kort-knap {
    background-color: #06F;
 }
 .kort-knap:hover {
    background-color:#B7F9F6;
    color:rgb(0, 0, 0);
 }

/* Nav til tilføj */
.tilfoej-familie-box{
    margin: 30px;
    display: flex;
    padding-left: 6px;
}
 .familie-med-plus{
    height: 160.57px;
    padding-left: 10px;
 }
 .tilfoej-knap-box{
    width: 125px;
    text-align: left;
 }
 .tilfoej-knap-tekst{
    margin-top: 10px;
    margin-bottom: 18px;
 }
 .tilfoej-knap {
    background-color:#FF0033;
 }
.tilfoej-knap:hover {
        background-color:#faa8a8;
        color:#000000; 
 }

/*pladskort-side*/
 .iframe {
    border-width: 0px;
 }



